html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
$color-primary: blueviolet;
$table-row-even: gray;
$table-color1: #7b7170;
$table-color2: #6f6f6f;
$table-color3: #252f38;
$table-color4: #151e23;
$table-color5: #dbd1d0;
$table-font-color: $table-color3;
$table-font-color2: $table-color5;
$border-color: $table-color2;

.smarttable {
  //width: 900px;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 45px;
  font-size: 20px;

  .st-cell {
    padding: 5px;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    overflow: hidden;
    &:first-child {
      border: none;
    }
  }
  .st-header {
    background-color: $table-color2;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    color: $table-color5;
    text-transform: capitalize;
    .st-cell {
      font-size: 15px;
      border-color: transparent;
    }
  }
  .st-row {
    display: grid;
    grid-auto-flow: column;
    cursor: pointer;
    grid-auto-columns: 1fr;
    max-height: 60px;
    overflow: hidden;

    &:nth-child(even) {
      background-color: $table-color5;
    }
    .st-cell {
      border-color: $border-color;
    }
    &.no-link {
      cursor: default;
    }
    &:hover {
      background-color: $table-color1;
      .st-cell {
        color: $table-color5;
      }
    }
  }
  .noresults,
  .loadingpane {
    display: flex;
    place-self: center;
  }
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 200px;
  place-self: center;
  overflow: hidden;
  place-content: center;
  align-items: center;
  display: flex;
}
